body{
  padding: 1% 3% 3px 3%;
}

.hh {
  color: #111111;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase; text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; text-align: center; line-height: 50px; }



.wrapper1:focus {
  outline: 0;
}

.card1 {
  /*background: white;*/
  width: 100%;
  display: inline-block;
  /*margin: 15px;*/
  padding:15px 0px 0px 0px;
  border-radius: 19px;
  position: relative;
  /*text-align: center;*/
  box-shadow: 2px 5px 30px -12px black;
  z-index: 9999;
  margin: 0px 0px 20px 0px;
}

.card-body1 {
text-align:left;
padding: 10px;
box-sizing: border-box;
/*text-transform:lowercase;*/
color: black;
}

.TitleA{
font-family: Arial,serif;
color: black;
font-size: 1.5em;
font-weight: bold;
/*margin-top: : 10px;*/
/*margin-bottom: 10px;*/
text-align: center;
padding-bottom: 10px
}

/*.textarea1{
  margin: 10px;
}
*/
.title1{
font-family: Arial,serif;
color: #111111;
font-weight: bold;
font-size: 1.4em;
font-weight: bold;
padding-bottom: 9px;
padding-top: 9px;
text-transform: capitalize;
text-shadow: 0.5px 0.5px 0.5px #222222;

}
.textB{
font-family: Arial,serif;
color: #111111;
font-weight: bold;
font-size: 1.3em;
font-weight: bold;
padding-bottom: 5px;
padding-top: 5px

}



.clash-card1 {
    /*margin: 20px; */
    background: white;
    width: 100%;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;

}

.clash-card__image--barbarian1 {
    background: url(../twitter_280.jpg) 0% 0% / 100% no-repeat;
}

.clash-card__image1 {
    position: relative;
    height: 170px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.clash-card__unit-name1 {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: -30px;

    text-align: left;
}

.package {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*width: 301px;*/
  height: 100%;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px 10px 5px 10px;
  text-align: center;
  float: left;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
}
.package:hover {
  margin-top: -30px;
  -webkit-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
.name {
  color: #565656;
  font-weight: 300;
  font-size: 2rem;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
}
.price::after {
  content: " / month per user";
  font-weight: normal;
}
hr {
  background-color: #111111;
  border: none;
  height: 0px;
}
.trial {
  font-size: .9rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #33c4b6;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -20px;
}
ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
/*li {
  margin-bottom: 15px;
}
.checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}*/
/*li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  color: #33c4b6;
  margin-right: 3px;
}*/


.positive {
  border-color: #99CC33;
}
.positive::before {
  border-style: solid;
  border-width: 64px 64px 0 0;
  margin-left: -1px;
  border-color: #99CC33 transparent transparent transparent;
}
.negtive {
  border-color: #CC3333;
}
.negtive::before {
  border-style: solid;
  border-width: 64px 64px 0 0;
  margin-left: -1px;
  border-color: #CC3333 transparent transparent transparent;
}
.neutral {
  border-color: #ffcc00;
}
.neutral::before {
  border-style: solid;
  border-width: 64px 64px 0 0;
  margin-left: -1px;
  border-color: #ffcc00 transparent transparent transparent;
}
/* Triangle */
.package::before {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.package::after {
  font-family: "FontAwesome";
  color: white;
  position: absolute;
/*  left: 9px;
  top: 6px;
*/  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}
.wrapper {
  margin: -1px 0 0 0px;
}
.highlightedText {
    background: #33c4b6;
    /*border:2px solid #33c4b6*/
    /*color : #33c4b6;*/
}
